<!DOCTYPE html>
<html ng-app="CalculatorApp">
<head>
	<title>Calculator in AngularJS</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
</head>

<body align="center" ng-controller="calcCtrl" ng-init="init()">
	<div class="col-lg-12">
		<div class= "page-header">
			<h2>Calculator in Angular JS</h2>
		</div>
	</div>
	<div class= "container-fluid text-center">
	<!-- Input Line-->
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div class="input-group">
				  <input type="number" class="form-control" placeholder="First Number" aria-describedby="basic-addon1" ng-model="a" ng-change="inputValidation()" required>
				</div>
			</div>
			<div class="col-md-2">
				<div class="input-group">
				  <input type="number" class="form-control" placeholder="Second Number" aria-describedby="basic-addon1" ng-model="b" ng-change="inputValidation()" required>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<!-- Error message line-->
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<p ng-show="notValid">Please enter values for the two numbers</p>
			</div>
			<div class="col-md-4"></div>
		</div>
		<!--Calculator Buttons -->
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div><button ng-click="onClickOperator('+')" ng-disabled="notValid" class="btn btn-block btn-success" type="button">+</button></div>
			</div>
			<div class="col-md-2">
				<div><button ng-click="onClickOperator('-')" ng-disabled="notValid" class="btn btn-block btn-success" type="button">-</button></div>
			</div>
			<div class="col-md-4"></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div><button ng-click="onClickOperator('*')" ng-disabled="notValid" class="btn btn-block btn-success" type="button">X</button></div>
			</div>
			<div class="col-md-2">
				<div><button ng-click="onClickOperator('/')" ng-disabled="notValid" class="btn btn-block btn-success" type="button">/</button></div>
			</div>
			<div class="col-md-4"></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<div><button ng-click="init()" class="btn btn-block btn-warning" type="button">Clear</button></div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-4"></div>
		</div>
		<!--Result Well -->
		&nbsp;
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class = "well well-md">
					<p ng-show="showResult">{{a}} {{operator}} {{b}} = {{result}}</p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>

<script type="text/javascript">

(function(){

	var app = angular.module("CalculatorApp", [])
	.controller("calcCtrl", function($scope){
		
		//Initialisation function: called on Page load and on clicking Clear button
		$scope.init = function init() {
			$scope.a = null;
			$scope.b = null;
			$scope.result = 0;
			$scope.operator = null;
			$scope.notValid = true;
			$scope.showResult = false;
		};
		
		//Performs calculations and updates value for result. 
		//showResult flag hides Result till an operator is passed
		$scope.onClickOperator = function onClickOperator(op){
			$scope.operator = op;
			//console.log("Operator is ", $scope.operator);
			switch($scope.operator){
				case '+': $scope.result = ($scope.a + $scope.b);
				break;
				case '-': $scope.result = ($scope.a - $scope.b);
				break;
				case '*': $scope.result = ($scope.a * $scope.b);
				break;
				case '/': $scope.result = ($scope.a / $scope.b);
				break;
			}
			$scope.showResult = true;
		};

		//Updates notValid flag for input required validation
		//Updates showResult flag to false so that result is hidden unless an operator is passed
		$scope.inputValidation = function () {
			//console.log("Inside input Validation");
			if(($scope.a != null) && ($scope.b != null)){
				$scope.notValid = false;
			}
			else{
				$scope.notValid = true;
			}				
				
			$scope.showResult = false;
		};


	});

})();	
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>