<!DOCTYPE html>
<html ng-app="CalculatorApp">
<head>
	<title>Calculator in AngularJS</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
</head>

<body align="center">
	<h2>Calculator in AngularJS</h2>
	<div ng-controller="calcCtrl" ng-init="init()">	
		<p>	A = <input type="number" ng-model="a" ng-change="inputValidation()" required>
			B = <input type="number" ng-model="b" ng-change="inputValidation()" required>
		</p>
		<p ng-show="notValid">Please enter value for A and B</p>
		
		<table align="center">
			<tr>
				<td><input ng-click="onClickOperator('+')" ng-disabled="notValid" type="button" name="plus" value="+"></td>
				<td><input ng-click="onClickOperator('-')" ng-disabled="notValid" type="button" name="minus" value="-"></td>
			</tr>
			<tr>
				<td><input ng-click="onClickOperator('*')" ng-disabled="notValid" type="button" name="multiply" value="*"></td>
				<td><input ng-click="onClickOperator('/')" ng-disabled="notValid" type="button" name="divide" value="/"></td>
			</tr>
			<tr>
				<td colspan="2"><input ng-click="init()" type="button" name="clear" value="Clear"></td>
			</tr>
		</table>
		<p ng-show="showResult">Result: {{a}} {{operator}} {{b}} = {{result}}</p>
	</div>
</body>

<script type="text/javascript">

(function(){

	var app = angular.module("CalculatorApp", [])
	.controller("calcCtrl", function($scope){
		
		//Initialisation function: called on Page load and on clicking Clear button
		$scope.init = function init() {
			$scope.a = null;
			$scope.b = null;
			$scope.result = 0;
			$scope.operator = null;
			$scope.notValid = true;
			$scope.showResult = false;
		};
		
		//Performs calculations and updates value for result. 
		//showResult flag hides Result till an operator is passed
		$scope.onClickOperator = function onClickOperator(op){
			$scope.operator = op;
			//console.log("Operator is ", $scope.operator);
			switch($scope.operator){
				case '+': $scope.result = ($scope.a + $scope.b);
				break;
				case '-': $scope.result = ($scope.a - $scope.b);
				break;
				case '*': $scope.result = ($scope.a * $scope.b);
				break;
				case '/': $scope.result = ($scope.a / $scope.b);
				break;
			}
			$scope.showResult = true;
		};

		//Updates notValid flag for input required validation
		//Updates showResult flag to false so that result is hidden unless an operator is passed
		$scope.inputValidation = function () {
			//console.log("Inside input Validation");
			if(($scope.a != null) && ($scope.b != null)){
				$scope.notValid = false;
			}
			else{
				$scope.notValid = true;
			}				
				
			$scope.showResult = false;
		};


	});

})();	
</script>

</html>