<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
	<title>To Do List in Angular</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>	
</head>
<body ng-controller="toDoController as tdctrl" ng-init="init()">
	<div class= "container-fluid">
		<div class="page-header text-center">
			<h1 >To Do List in AngularJS</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row form-group">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<input ng-model="task" ng-change="checkInput()" type="text" class="form-control" placeholder="What do you want to do today?" name="task" required>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row form-group">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<button ng-disabled="!validInput" ng-click="addTask()" class="btn btn-warning btn-block">Add To Do</button>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row form-group" ng-repeat="list in toDoList">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="list-group-item">
					<div class="checkbox">
						<label ng-style="doneStatus($index)"><input type="checkbox" ng-model="checkBoxModel" ng-change="updateTask($index)">{{list.action}}</label>
					</div>
				</div>
			</div>
			<div class="col-md-1"><button ng-click="deleteTask($index)" class="btn btn-danger">Remove</button></div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
	(function (){
		var app = angular.module('toDoApp',[]).
		controller('toDoController',function($scope) {
			//console.log("Controller was loaded !");

			$scope.init = function init(){
				//console.log("Init function called !")
				$scope.task = null;
				$scope.validInput = false;
			};

			$scope.toDoList = [
				// {action:'Create an AngulaJS Web App',status:false},
				// {action:'Learn Python',status:true}
			]

			$scope.addTask = function addTask(){
				$scope.toDoList.push({action:$scope.task, doneFlag:false});
				$scope.init();
			};

			$scope.updateTask = function updateTask(id){
				if($scope.toDoList[id].doneFlag === false){
					$scope.toDoList[id].doneFlag = true;
				}
				else if($scope.toDoList[id].doneFlag === true){
					$scope.toDoList[id].doneFlag = false;
				}
			};

			$scope.deleteTask = function deleteTask(id){
				console.info("delete index", id, $scope.toDoList[id]);
				$scope.toDoList.splice(id, 1);
			};

			//Validation function not working when input value is removed using backspaces
			$scope.checkInput = function checkInput(){
				//console.log("checkInput function called", $scope.task);
				if($scope.task)
				{
					$scope.validInput = true;
				}
				else{
					$scope.validInput = false;					
				}
			};

			$scope.doneStatus = function doneStatus(id){
				console.log("doneStatus was called", $scope.toDoList[id].doneFlag);
				$scope.mystyle = null;
				if($scope.toDoList[id].doneFlag)
				{
					console.log("Status of doneFlag", $scope.toDoList[id].doneFlag);
					$scope.mystyle = {'text-decoration': 'line-through'};
				}
				return $scope.mystyle;
			};

		});
	})();
</script>
</html>